html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.form__button {
    border: none;
    background-color: hsl(207, 38%, 60%);
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(207, 38%, 55%);
}

.form__button:active {
    background-color: hsl(207, 38%, 45%);
}

.form__field {
    border: 1px solid hsl(0, 0%, 70%);
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;

}

.form__fieldset {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 70%);
}

.form__legend {
    background-color: hsl(207, 38%, 60%);
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
}


.form__list {
    list-style-type: none;
}